.mail-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 0 21px 20px 30px;
}
.mail-action__title {
    font-size: 15px;
    line-height: 18px;
    color: #8f929d;
    padding-bottom: 20px;
}
.mail-action__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(56%, 56%, 58%, 0.1);
}
.mail-action__container_description {
    position: absolute;
    margin-left: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #8e8e93;
    cursor: pointer;
}
.left-side-wrapper.active {
    color: #4c4f59;
}
.mail-action__container > div {
    display: flex;
    position: relative;
    padding-bottom: 20px;
}