.left-side-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-family: Actor;
    max-width: 202px;
}
.left-side-wrapper .btn-compose {
    width: 125px;
    height: 45px;
    border-radius: 100px;
    background: #00b96e;
    color: white;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: none;
    margin: 0 21px 20px 30px;
}
.left-side-wrapper .btn-compose:hover {
    background-color: #00b96e;
}
.btn-compose__icon {
    margin-right: 8px;
}
.type-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 0 21px 20px 30px;
}
.type-display__title {
    font-size: 15px;
    line-height: 18px;
    color: #8f929d;
    padding-bottom: 20px;
}
.type-display__action {
    font-size: 13px;
    line-height: 16px;
    color: #8e8e93;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(56%, 56%, 58%, 0.1);
    cursor: pointer;
}

.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 12px;
    border-top: 1px solid rgb(56%, 56%, 58%, 0.1);
    text-align: left;
}
.user-profile__avatar {
    height: 40px;
    width: 40px;
    padding-left: 12px;
    padding-right: 5px;
}
.user-profile__avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.user-profile__data-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.user-profile__data-container_name {
    font-size: 14px;
    line-height: 17px;    
    color: #323232;
    padding-bottom: 3px;
}
.user-profile__data-container_email {
    font-size: 10px;
    line-height: 12px;        
    color: #323232;
    opacity: 0.5;
}